/* small devices */
@media only screen and (max-width: 767px) {

    .navbar-default {

        background-color: #fff !important;
        border-color: #e6e6e6;
    }

    .about-image img {
        width: 100%;
    }

    .purchase-now .col-md-3 {
        text-align: center;
        padding-top: 50px;
    }

}

/* small devices and tablets */
@media only screen and (max-width: 768px) {

    .header-text, .header-btns {
        text-align: center;
    }


}

/* Medium devices , Desktop */
@media only screen and (min-width: 992px) {
    
    
}

/* Large devices , wide screens */
@media only screen and (min-width: 1200px) {
    
    
}